.login {
  border-radius: 10px;
  background: #e0e0e0;
  box-shadow: 9px 9px 26px #c7c7c7, -9px -9px 26px #f9f9f9;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
